*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header {
    background-color: #ccc;
}

#main-structure{
    display: flex;
}

#main-structure aside{
    display: flex;
    flex-direction: column;
    max-width: 17rem;
    height: 100vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
}

#main-structure aside > div{
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 12rem;
    font-size: 4rem;
    border-bottom: #B4CBD2 solid 0.3rem;
}

#main-structure aside > a:nth-child(2){
    margin-top: 20rem;
}

#main-structure aside > a,
#main-structure aside > a ~ p{
    margin-top: 2.3rem;
    margin-left: 2.6rem;
}

#main-structure aside > a ~ p{
    font-size: 1rem;
    color: #606060;
}

#main-structure header {
    display: flex;
    width: 100%;
    max-width: 107.1rem;
    max-height: 12.3rem;
}

#main-structure header > div{
    width: 77%;
}

#main-structure header > div > h1{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 1.8rem;
    font-weight: 200;
}

#main-structure header > div ~ nav{
    width: 20%;
}

#main-structure header > div ~ nav ul{
    display:  flex;
    list-style: none;
    justify-content: space-between;
}

#main-structure header > div ~ nav ul li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 100;
}